<a href="https://colab.research.google.com/github/eduardoheros/lab-rss/blob/master/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data=pd.read_csv("/apple_store.csv")

In [3]:
data.head()

          id  ...   prime_genre
0  281656475  ...         Games
1  281796108  ...  Productivity
2  281940292  ...       Weather
3  282614216  ...      Shopping
4  282935706  ...     Reference

[5 rows x 9 columns]